<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="shop_menu_root" name="Shop" sequence="10"/>
    <menuitem name="Client" id="client_menu" parent="shop_menu_root" action="client_act_window"/>
    <menuitem id="shop_employee_menu"
              name="Shop employee"
              parent="shop_menu_root"
              action="shop_employee_action"
              sequence="10"/>
    <menuitem id="product_root_menu" name="Shop Product" parent="shop_menu_root" sequence="28"/>
    <menuitem id="shop_product_menu"
              name="Product"
              action="shop_product_action"
              parent="product_root_menu"
              sequence="10"/>
    <menuitem id="shop_category_menu"
              name="Category"
              action="shop_category_action"
              parent="product_root_menu"
              sequence="20"/>
    <menuitem id="shop_invoice_menu"
              name="Shop invoice"
              parent="shop_menu_root"
              sequence="10"/>
    <menuitem id="shop_invoice_menu_in"
              name="Shop invoice in"
              parent="shop_invoice_menu"
              action="shop_invoice_action_in"
              sequence="10"/>
    <menuitem id="shop_invoice_menu_out"
              name="Shop invoice out"
              parent="shop_invoice_menu"
              action="shop_invoice_action_out"
              sequence="20"/>
    <menuitem name="Invoice Report" id="invoice_report_wizard_menu" parent="shop_menu_root"
                  action="invoice_report_wizard_act_window" sequence="180"/>
</odoo>