<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Menu -->
    <menuitem id="market_menu_root" name="Market" sequence="10"/>
    <menuitem id="client_menu"
              name="Client"
              action="client_action"
              parent="market_menu_root"
              sequence="30"
    />
    <menuitem id="market_employee_menu"
              name="Employee"
              action="market_employee_action"
              parent="market_menu_root"
              sequence="40"/>

    <menuitem id="market_product_menu_root"
              name="Product"
              parent="market_menu_root"
              sequence="10"/>

    <menuitem id="market_invoice_menu"
              name="Invoice"
              parent="market_menu_root"
              sequence="20"/>

    <menuitem id="market_invoice_menu_in"
              name="Purchase"
              action="market_invoice_action_in"
              parent="market_invoice_menu"
              sequence="10"/>

    <menuitem id="market_invoice_menu_out"
              name="Sell"
              action="market_invoice_action_out"
              parent="market_invoice_menu"
              sequence="20"/>


    <menuitem id="market_product_menu"
              name="Product"
              action="market_product_action"
              parent="market_product_menu_root"
              sequence="10"/>

    <menuitem id="market_category_menu"
              name="Category"
              action="market_category_action"
              parent="market_product_menu_root"
              sequence="20"/>
</odoo>