<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="store_root" name="Store" sequence="10"/>

        <menuitem name="Client" id="client_menu" parent="store_root" action="client_act_window" sequence="10"/>
        <menuitem name="Employee" id="employee_menu" parent="store_root" action="employee_act_window" sequence="20"/>

        <menuitem name="Invoice" id="invoice_menu" parent="store_root" action="invoice_act_window" sequence="30"/>
        <menuitem id="invoice_menu_in" name="Purchase" parent="invoice_menu" action="invoice_in_act_window" sequence="10"/>
        <menuitem id="invoice_menu_out" name="Sell" parent="invoice_menu" action="invoice_out_act_window" sequence="20"/>

        <menuitem id="config_menu" name="Config" parent="store_root" sequence="800"/>
        <menuitem name="Product" id="product_menu" parent="config_menu" action="product_act_window" sequence="10"/>
        <menuitem name="Category" id="category_menu" parent="config_menu" action="category_act_window" sequence="20"/>


    </data>
</odoo>